<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
				<rule name="Redirect static resources" stopProcessing="true">
					<match url="^(ico|img|css|files)(.*)$" />
					<action type="Rewrite" url="app/webroot/{R:1}{R:2}" appendQueryString="false" />
				</rule>

				<rule name="Regla 1" stopProcessing="true">
					<match url="^(.*)$" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>

					<action type="Rewrite" url="{R:1}.php" appendQueryString="true" />
				</rule>

				<rule name="Regla 2" stopProcessing="true">
					<match url="^$" ignoreCase="false" />
					<action type="Rewrite" url="/" />
				</rule>

				<rule name="Regla 3" stopProcessing="true">
					<match url="(.*)" ignoreCase="false" />
					<action type="Rewrite" url="/{R:1}" />
				</rule>
            </rules>
        </rewrite>
        <httpErrors errorMode="Custom">
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="505" subStatusCode="-1" />
            <error statusCode="404" path="/error.php" responseMode="ExecuteURL" />
            <error statusCode="500" path="/error500.php" responseMode="ExecuteURL" />
            <error statusCode="505" path="/error500.php" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
